{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<div class="product-container-show">

    <!-- IMAGE -->
    <div class="product-image-show">
        <img src="{{ asset(product.imageUrl) }}" alt="{{ product.name }}">
    </div>

    <!-- INFO -->
    <div class="product-info-show">

        <div class="title-wrapper-show">
            <h1 class="product-title-show">{{ product.name }}</h1>
        </div>

        <div class="info-block-show">
            <span class="label">Catégorie</span>
            <div class="value">{{ product.category.name }}</div>
        </div>

        <div class="info-block">
            <span class="label">Prix</span>
            <div class="price">{{ product.price }} €</div>
        </div>

        <div class="info-block">
            <span class="label">Description</span>
            <div class="description">{{ product.description }}</div>
        </div>

        <div>

            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}

                <div class="action-block">

                    {% if product.remaining > 0 %}
                        <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-primary">
                            🛒 Ajouter au panier
                        </a>
                        <div class="stock-ok">✔ En stock</div>
                    {% else %}
                        <div class="stock-out">❌ Rupture de stock</div>
                    {% endif %}

                </div>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="btn btn-primary">
                    ✏️ Modifier
                </a>
            {% endif %}

        </div>

    </div>

</div>

{% endblock %}